#bg-thumb{
	width: 140px;
	margin-right: -15px;
}

#thumbnail{
	opacity: .5;
	width: 120px;
	margin-right: -120px;
}

.thumb-kanan{
	opacity: 0;
	margin-left: -500px;
}

#lihatData{
	width: 190px;
	margin-top: 90px;
	margin-bottom: 90px;
}

.font-imp{
	font-family: 'Abel', sans-serif;
}

.sum{
	margin-left: 0px;
	padding-top: 20px;
}

#img-sumber{
	margin-top: 10px;
	margin-bottom: 20px;
	width: 200px;
	height: 200px;
}

.bg-gray{
	background-color: #6E758A;
}

.judul-head{
	font-size: 42px;
}

.p-head{
	font-size: 20px; margin-top: -10px;
}

.p-hd{
	margin-top: 100px;
}

.card{
	height: 390px;
}

#img-kiri{
	width: 200px;
	margin-top: 90px;
	position: absolute;
	opacity: 0;
}

#img-kanan{
	margin-left: -1000px;
	position: absolute;
}

.card{
	width: 250px;
	margin-left: 20px;
}

.jg-jarak{
	width: 300px;
}

.org{
	width: 120px;
	margin-right: -10px;
}

/*animasi*/
.hd{
	opacity: 0;
	transform: translate(-40px);
	transition: 1s;
}

.h-kanan{
	opacity: 0;
	transform: translate(30px);
	transition: 1s;
}

.h-kanan.hkkMuncul{
	opacity: 1;
	transform: translate(-30px,0);
}

.hd.hkMuncul{
	opacity: 1;
	transform: translate(-30px,0);
}

.at{
	opacity: 0;
	transform: translate(0, -30px);
	transition: 1s;
}

.at.atMuncul{
	opacity: 1;
	transform: translate(0,30px);
}


/*batas animasi*/
@media (min-width: 768px) {
	#jg-jarak{
		margin-left: 200px;
	}

	.org{
		width: 170px;
		margin-right: -120px;
	}

	.jg-jarak{
		width: 700px;
	}

	.card{
		width: auto;
	}
	#img-kiri{
		opacity: 1;
		margin-top: 0;
		position: absolute;
		width: 470px;
	}

	.tiga{
		position: relative;
		padding-bottom: 40px;
	}

	#img-kanan{
		margin-top: 150px;
		margin-left: 1100px !important;
		position: absolute;
	}

	#lihatData{
		margin-bottom: 0;
		margin-top: 12px !important;
	}

	.judul-head{
		font-size: 55px;
	}

	.p-head{
		font-size: 30px; margin-top: -20px;
	}

	.judul-sumber{
		font-size: 60px; padding-top: 60px;
	}

	.p-sumber{
		font-size: 25px;
	}

	.sum{
		margin-left: -67px;
		padding-top: 20px;
	}

	#img-sumber{
		width: 400px;
		height: 445px;
		margin-top: 190px;
		margin-left: -60px;
		padding-bottom: 90px;
	}

	.thumb-kanan{
		opacity: 1;
		margin-left: 0px;
	}

	.align-center{
	align-items: center;
	}

	.konten{
		overflow: hidden;
	}
	#bg-thumb{
		width: 700px;
		margin-right: -150px;
		position: absolute;
	}

	#thumbnail{
		position: relative;
		width: 600px;
		opacity: 1;
	}


	#lihatData{
		width: 190px;
	}
}